MVC/Connected Services/UsersClient/Users2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserVM" nillable="true" type="tns:UserVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserVM" nillable="true" type="tns:ArrayOfUserVM" />
  <xs:complexType name="UserVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserVM" nillable="true" type="tns:UserVM" />
</xs:schema>